## ImageNetのクラスidとクラス名など調査

#### 全部で1000クラスあり量が多いので100クラスずつまとめています。

* クラス000～099: 動物（犬、猫、猿など）が大半を占めています。
* クラス100～199: 動物の他、車・船・飛行機などの乗り物が含まれています。
* クラス200～299: 家具、果物、楽器、工具および鳥類が含まれています。
* クラス300～399: 鳥類、魚類、は虫類が含まれています。後半にはトカゲやヘビが出てきますので苦手な方はご注意ください 
* クラス400～499: は虫類、器具・家電などが含まれています。
* クラス500～599: 器具、クモ、カニ、昆虫、調理器具、建築物などが含まれています。
* クラス600～699: 建築物、商店、野菜、衣類、楽器などが含まれています。
* クラス700～799: 衣類、食器類などが含まれています。
* クラス800～899: 衣類、小物などが含まれています。
* クラス900～999: 中盤以降はすべて犬です。

参考: https://starpentagon.net/analytics/ilsvrc2012_class_image/

クラス名は絞ってもいいかも、このあたりは要調整

In [1]:
import numpy as np
import pandas as pd
import scipy.io

In [13]:
mat = scipy.io.loadmat("/workspace/ImageNet/ILSVRC2012_devkit_t12/data/meta.mat")
labels=mat["synsets"]

In [34]:
lst_id=[i[0][0][0][0] for i in labels]
lst_folder=[i[0][1][0] for i in labels]
lst_name=[i[0][2][0] for i in labels]
df = pd.DataFrame({
    "id":lst_id,
    "folder":lst_folder,
    "name":lst_name
})

In [35]:
df

        id     folder                                               name
0        1  n02119789                           kit fox, Vulpes macrotis
1        2  n02100735                                     English setter
2        3  n02110185                                     Siberian husky
3        4  n02096294                                 Australian terrier
4        5  n02102040         English springer, English springer spaniel
...    ...        ...                                                ...
1855  1856  n06791372                            signal, signaling, sign
1856  1857  n06873571                                      visual signal
1857  1858  n06874019                                              light
1858  1859  n00031921                                           relation
1859  1860  n13809207  part, portion, component part, component, cons...

[1860 rows x 3 columns]

* 認識しやすいラベルはこっちかも: https://gist.github.com/yrevar/942d3a0ac09ec9e5eb3a

### Preprocessing

In [52]:
root="/workspace/ImageNet/ImageNet-S/ImageNetS919"

In [53]:
import glob

import numpy as np
import pandas as pd
import scipy.io

In [55]:
mat = scipy.io.loadmat("/workspace/ImageNet/ILSVRC2012_devkit_t12/data/meta.mat")
labels=mat["synsets"]
lst_id=[i[0][0][0][0] for i in labels]
lst_folder=[i[0][1][0] for i in labels]
lst_name=[i[0][2][0] for i in labels]
df = pd.DataFrame({
    "folder":lst_folder,
    "name":lst_name
})

with open(f'{root}/ImageNetS_categories_im919_sort.txt') as f:
    msg = f.read().splitlines()

In [56]:
lst_folder_train=glob.glob(f"{root}/train-semi-segmentation/n*")
lst_folder_val=glob.glob(f"{root}/validation-segmentation/n*")

In [57]:
[i.split("/")[-1] for i in lst_folder_train] == [i.split("/")[-1] for i in lst_folder_val]

True

In [63]:
df.index=df["folder"]
df=df.loc[msg,:]
df["id"]=list(range(1,df.shape[0]+1))

In [66]:
df

            id     folder                                               name
folder
n01440764    1  n01440764                                 tench, Tinca tinca
n01443537    2  n01443537                        goldfish, Carassius auratus
n01484850    3  n01484850  great white shark, white shark, man-eater, man...
n01491361    4  n01491361                    tiger shark, Galeocerdo cuvieri
n01494475    5  n01494475                       hammerhead, hammerhead shark
...        ...        ...                                                ...
n13044778  915  n13044778                                          earthstar
n13052670  916  n13052670  hen-of-the-woods, hen of the woods, Polyporus ...
n13054560  917  n13054560                                             bolete
n13133613  918  n13133613                              ear, spike, capitulum
n15075141  919  n15075141       toilet tissue, toilet paper, bathroom tissue

[919 rows x 3 columns]

In [67]:
df[df["id"]==6]

           id     folder                                        name
folder
n01496331   6  n01496331  electric ray, crampfish, numbfish, torpedo

* エイらしい。可視化したやつと一致。

In [68]:
df.to_csv("/workspace/Moon_Pattern_Inference/data/ImageNet-S_label.csv")

### datasize

In [1]:
import glob

In [6]:
file_train=glob.glob("/workspace/ImageNet/ImageNet-S/ImageNetS919/train-semi-segmentation/*/*.png")
len(file_train)

9190

In [7]:
file_val=glob.glob("/workspace/ImageNet/ImageNet-S/ImageNetS919/validation-segmentation/*/*.png")
len(file_val)

12419